In this challenge, you will predict healthcare costs using a regression algorithm.

You are given a dataset that contains information about different people including their healthcare costs. Use the data to predict healthcare costs based on new data.

The first two cells of this notebook import libraries and the data.

Make sure to convert categorical data to numbers. Use 80% of the data as the train_dataset and 20% of the data as the test_dataset.

pop off the "expenses" column from these datasets to create new datasets called train_labels and test_labels. Use these labels when training your model.

Create a model and train it with the train_dataset. Run the final cell in this notebook to check your model. The final cell will use the unseen test_dataset to check how well the model generalizes.

To pass the challenge, model.evaluate must return a Mean Absolute Error of under 3500. This means it predicts health care costs correctly within $3500.

The final cell will also predict expenses using the test_dataset and graph the results.

In [ ]:
# Import libraries. You may or may not use all of these.
%pip install -q git+https://github.com/tensorflow/docs
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#try:
  # %tensorflow_version only exists in Colab.
#  %tensorflow_version 2.x
#except Exception:
#  pass
#import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

import tensorflow_docs as tfdocs
import tensorflow_docs.plots
import tensorflow_docs.modeling

In [2]:
# Import data
!wget https://cdn.freecodecamp.org/project-data/health-costs/insurance.csv
dataset = pd.read_csv('insurance.csv')
dataset.tail()

--2024-11-23 09:18:27--  https://cdn.freecodecamp.org/project-data/health-costs/insurance.csv
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 2606:4700:20::ac43:4695, 2606:4700:20::681a:221, 2606:4700:20::681a:321, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|2606:4700:20::ac43:4695|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 50264 (49K) [text/csv]
Saving to: ‘insurance.csv’

insurance.csv       100%[===================>]  49,09K  --.-KB/s    in 0,002s

2024-11-23 09:18:28 (24,2 MB/s) - ‘insurance.csv’ saved [50264/50264]

      age     sex   bmi  children smoker     region  expenses
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

In [ ]:
#Make sure to convert categorical data to numbers. 
dataset.info()

dataset["sex"] = dataset["sex"].astype("category")  #See https://saturncloud.io/blog/how-to-convert-categorical-data-to-numerical-data-with-pandas/
dataset["sex_encoded"] = dataset["sex"].cat.codes

dataset["smoker"] = dataset["smoker"].astype("category")  
dataset["smoker_encoded"] = dataset["smoker"].cat.codes

dataset["region"] = dataset["region"].astype("category")  
dataset["region_encoded"] = dataset["region"].cat.codes

dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          1338 non-null   int64
 1   sex          1338 non-null   category
 2   bmi          1338 non-null   float64
 3   children     1338 non-null   int64
 4   smoker       1338 non-null   object
 5   region       1338 non-null   object
 6   expenses     1338 non-null   float64
 7   sex_encoded  1338 non-null   int8
dtypes: category(1), float64(2), int64(2), int8(1), object(2)
memory usage: 65.6+ KB

,age,sex,bmi,children,smoker,region,expenses,sex_encoded,smoker_encoded,region_encoded
0,19,female,27.9,0,yes,southwest,16884.92,0,1,3
1,18,male,33.8,1,no,southeast,1725.55,1,0,2
2,28,male,33.0,3,no,southeast,4449.46,1,0,2
3,33,male,22.7,0,no,northwest,21984.47,1,0,1
4,32,male,28.9,0,no,northwest,3866.86,1,0,1
...,...,...,...,...,...,...,...,...,...,...
1333,50,male,31.0,3,no,northwest,10600.55,1,0,1
1334,18,female,31.9,0,no,northeast,2205.98,0,0,0
1335,18,female,36.9,0,no,southeast,1629.83,0,0,2
1336,21,female,25.8,0,no,southwest,2007.95,0,0,3
1337,61,female,29.1,0,yes,northwest,29141.36,0,1,1

In [14]:
#Use 80% of the data as the train_dataset and 20% of the data as the test_dataset.

# Using numpy.random.rand() Method.
msk = np.random.rand(len(dataset)) < 0.8 #See https://sparkbyexamples.com/pandas/pandas-create-test-and-train-samples-from-dataframe/
train = dataset[msk]
test=dataset[~msk]

print("train length: " + str(len(train)))
print("test length: " + str(len(test)))

train length: 1082
test length: 256

In [ ]:
# RUN THIS CELL TO TEST YOUR MODEL. DO NOT MODIFY CONTENTS.
# Test model by checking how well the model generalizes using the test set.
loss, mae, mse = model.evaluate(test_dataset, test_labels, verbose=2)

print("Testing set Mean Abs Error: {:5.2f} expenses".format(mae))

if mae < 3500:
  print("You passed the challenge. Great job!")
else:
  print("The Mean Abs Error must be less than 3500. Keep trying.")

# Plot predictions.
test_predictions = model.predict(test_dataset).flatten()

a = plt.axes(aspect='equal')
plt.scatter(test_labels, test_predictions)
plt.xlabel('True values (expenses)')
plt.ylabel('Predictions (expenses)')
lims = [0, 50000]
plt.xlim(lims)
plt.ylim(lims)
_ = plt.plot(lims,lims)